.menu-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 16px 0;
  gap: 12px;
}

.menu__item {
  flex: 1;
  position: relative;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 -1px rgba(255, 255, 255, 0.2);
}

.menu__item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 22px 0;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 600;
  color: #facc15;
  font-size: 4vh;
}

.menu__item-link:hover {
  color: #060010;
}

.menu__item-link:focus:not(:focus-visible) {
  color: #facc15;
}

.marquee {
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  pointer-events: none;
  background: #fff;
  transform: translate3d(0, 101%, 0);
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.6s ease;
}

.marquee__inner-wrap {
  height: 100%;
  width: 200%;
  display: flex;
  transform: translateX(0);
}

.marquee__inner {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  width: 200%;
  will-change: transform;
}

.marquee span {
  color: #060010;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 4vh;
  line-height: 1.2;
  padding: 1vh 1vw 0;
}

.marquee__img {
  width: 240px;
  height: 9vh;
  margin: 2em 2vw;
  padding: 1em 0;
  border-radius: 50px;
  background-size: cover;
  background-position: 50% 50%;
}

.menu__item-link:hover + .marquee {
  transform: translate3d(0, 0%, 0);
  opacity: 1;
}

.menu__item-link:hover + .marquee .marquee__inner {
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}


