.light-rays-container {
  width: 100%;
  height: 100%;
  position: relative;
  pointer-events: none;
  z-index: 3;
  overflow: hidden;
}


@media (max-width: 768px) {
  .light-rays-container {
    

    opacity: 0.7;
  }
}

@media (max-width: 480px) {
  .light-rays-container {
    opacity: 0.6;
  }
}


@media (prefers-reduced-motion: reduce) {
  .light-rays-container {
    display: none;
  }
}


